[submodule "spmm-nano-kernels"]
	path = spmm-nano-kernels
	url = git@github.com:LucasWilkinson/spmm-nano-kernels.git
[submodule "spmm_nano_kernels"]
	path = spmm_nano_kernels
	url = git@github.com:LucasWilkinson/spmm-nano-kernels.git
